<link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
<style>
.navbar-collapse {
    max-height: 54px !important;
    background: #fff;
}
</style>

<body id="body">
    <br><br><br><br>
    <span class="search"><i class="fa fa-search" aria-hidden="true"></i>
    <input type="text" id="search-me" onkeydown="search(this)" placeholder="Search Shirts, Jeans, Dresses and more"></span>
    <br>



<div class="container">



<div class="left">
    <p class="section-head">Category</p>
    <label class="control control--checkbox">Men
        <input id="check-men" type="checkbox"/>
        <div class="control__indicator"></div>
    </label>
    <label class="control control--checkbox">Women
        <input id="check-women" type="checkbox"/>
        <div class="control__indicator"></div>
    </label>
    <label class="control control--checkbox">Kids
        <input id="check-kids" type="checkbox"/>
        <div class="control__indicator"></div>
    </label>

    <p class="section-head section-price">Price</p>
    <center>
        <span class="price-input">$<input id="check-price-min" class="price-min" type="number" placeholder="Min"></span>
        <span class="price-input">$<input id="check-price-min" class="price-max" type="number" placeholder="Max"></span>
    </center>
<br>
    <p class="section-head">Brand</p>
    <label class="control control--checkbox">H&M
        <input id="check-hm" type="checkbox"/>
        <div class="control__indicator"></div>
    </label>
    <label class="control control--checkbox">Nordstorm
        <input id="check-nordstorm" type="checkbox"/>
        <div class="control__indicator"></div>
    </label>
    <label class="control control--checkbox">Uniqlo
        <input id="check-uniqlo" type="checkbox"/>
        <div class="control__indicator"></div>
    </label>
    <p class="section-head">Sort By</p>
    radio button: environmental score, see phone & slacks

</div>
<script>
$('#check-men').change(function() {
    if ($('#check-men').is(':checked')) {
        $('.card-men').show();
        if (!($('#check-women').is(':checked'))) {
            $('.card-women').hide();
        }
        if (!($('#check-kids').is(':checked'))) {
            $('.card-kids').hide();
        }
    } else {
        $('.card-men').hide();
        if ( !($('#check-women').is(':checked')) && !($('#check-kids').is(':checked'))) {
            $('.card-women').show();
            $('.card-men').show();
            $('.card-kids').show();
        }
    }
});
$('#check-women').change(function() {
    if ($('#check-women').is(':checked')) {
        $('.card-women').show();
        if (!($('#check-kids').is(':checked'))) {
            $('.card-kids').hide();
        }
        if (!($('#check-men').is(':checked'))) {
            $('.card-men').hide();
        }
    } else {
        $('.card-women').hide();
        if ( !($('#check-kids').is(':checked')) && !($('#check-men').is(':checked'))) {
            $('.card-women').show();
            $('.card-men').show();
            $('.card-kids').show();
        }
    }
});
$('#check-kids').change(function() {
    if ($('#check-kids').is(':checked')) {
        $('.card-kids').show();
        if (!($('#check-women').is(':checked'))) {
            $('.card-women').hide();
        }
        if (!($('#check-men').is(':checked'))) {
            $('.card-men').hide();
        }
    } else {
        $('.card-kids').hide();
        if ( !($('#check-women').is(':checked')) && !($('#check-men').is(':checked'))) {
            $('.card-women').show();
            $('.card-men').show();
            $('.card-kids').show();
        }
    }
});
$('#check-hm').change(function() {
    if ($('#check-hm').is(':checked')) {
        $('.card-hm').show();
        if (!($('#check-uniqlo').is(':checked'))) {
            $('.card-uniqlo').hide();
        }
        if (!($('#check-nordstorm').is(':checked'))) {
            $('.card-nordstorm').hide();
        }
    } else {
        $('.card-hm').hide();
        if ( !($('#check-uniqlo').is(':checked')) && !($('#check-nordstorm').is(':checked'))) {
            $('.card-nordstorm').show();
            $('.card-hm').show();
            $('.card-uniqlo').show();
        }
    }
});
$('#check-nordstorm').change(function() {
    if ($('#check-nordstorm').is(':checked')) {
        $('.card-nordstorm').show();
        if (!($('#check-hm').is(':checked'))) {
            $('.card-hm').hide();
        }
        if (!($('#check-uniqlo').is(':checked'))) {
            $('.card-uniqlo').hide();
        }
    } else {
        $('.card-nordstorm').hide();
        if ( !($('#check-hm').is(':checked')) && !($('#check-uniqlo').is(':checked'))) {
            $('.card-nordstorm').show();
            $('.card-hm').show();
            $('.card-uniqlo').show();
        }
    }
});
$('#check-uniqlo').change(function() {
    if ($('#check-uniqlo').is(':checked')) {
        $('.card-uniqlo').show();
        if (!($('#check-hm').is(':checked'))) {
            $('.card-hm').hide();
        }
        if (!($('#check-nordstorm').is(':checked'))) {
            $('.card-nordstorm').hide();
        }
    } else {
        $('.card-uniqlo').hide();
        if ( !($('#check-hm').is(':checked')) && !($('#check-nordstorm').is(':checked'))) {
            $('.card-nordstorm').show();
            $('.card-hm').show();
            $('.card-uniqlo').show();
        }
    }
});
</script>

<article>
    <!--TODO: MODAL-->
    <% product_number = 0 %>
    <% @products.take(50).each do |product| %>
        <div data-kw="<%= product.keyword %>" class="square <%= 'card-' + product.section.downcase %> <%= 'card-' + product.brand.downcase %>">
            <div class="content">
                <%= link_to product.link do %>
                    <%= image_tag(product.picture, class: "img-responsive") %>
                    <span><b>Shop now</b></span>
                <% end %>
                <p class="product-brand">
                    <% if product.brand == "hm" %>
                        h&m
                    <% else %>
                        <%= product.brand %>
                    <% end %>
                </p>
                <p><%= product.name %></p>
                <p id="price">$<%= product.price %></p>
                <% if product.score == 0 %>
                    <p class="bad-score">98</p>
                <% elsif product.score < 12.0 %>
                    <p class="good-score"><%= product.score %></p>
                <% elsif product.score < 70.0 %>
                    <p class="ok-score"><%= product.score  %></p>
                <% else %>
                    <p class="bad-score"><%= product.score %></p>
                <% end %>
            </div>
        </div>
        <script>
        function showDiv() {
           document.getElementById('modal<%=49-product_number%>').style.display = "block";
        }
        function hideDiv() {
            document.getElementById('modal<%=49-product_number%>').style.display = "none";
        }

        </script>
        <%= content_tag :div, id: "temp" + (49 - product_number).to_s, data: {temp: product.keyword} do %>
        <%end%>
        <% product_number += 1 %>
    <% end %>
</article>

</div>

</body>
<script>
function search(ele) {
    if(event.keyCode == 13) {

        for (var i = 0; i < 50; i++) {
            var id = "temp" + i.toString();
            if (document.getElementById(id).getAttribute('data-temp') == document.getElementById('search-me').value){
                document.getElementById(id).style.display == "none";
                console.log(3);

            }

        }
    }
}
</script>
