<link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
<style>
.navbar-collapse {
    max-height: 54px !important;
    background: #fff;
}
</style>
<body>

<div class="container">

<div class="modal">
    <div class="modal-content">
    <h2 class="title"><%= product.name product.price %></h2>
    <div id="prod-image">
       <%= image_tag(product.picture, class: "img-modal") %>
    </div>
    <table>
        <tr>
            <td>
             flexible washed superstretch denim for added freedom of movement. Elasticized waistband, mock front pockets, and regular back pockets. 60% cotton, 38% polyester, 2% spandex.
            </td>
            <td>
            <p class="green-index">Green Index:<br>
                <%= product.score %>
            </p>
            </td>
        </tr>
    </table>

    <button id="buy">Shop Now</button>
    <script>
    $('#buy').on('click', function() {
        $('.modal').show();
    }
    </script>
  </div>

</div>
<br><br>
<div class="left">
    <p class="section-head">Category</p>
    <label class="control control--checkbox">Men
        <input id="check-men" type="checkbox"/>
        <div class="control__indicator"></div>
    </label>
    <label class="control control--checkbox">Women
        <input id="check-women" type="checkbox"/>
        <div class="control__indicator"></div>
    </label>
    <label class="control control--checkbox">Kids
        <input id="check-kids" type="checkbox"/>
        <div class="control__indicator"></div>
    </label>

    <p class="section-head section-price">Price</p>
    <center>
        <span class="price-input">$<input id="check-price-min" class="price-min" type="number" placeholder="Min"></span>
        <span class="price-input">$<input id="check-price-min" class="price-max" type="number" placeholder="Max"></span>
    </center>
<br>
    <p class="section-head">Brand</p>
    <label class="control control--checkbox">H&M
        <input id="check-hm" type="checkbox"/>
        <div class="control__indicator"></div>
    </label>
    <label class="control control--checkbox">Nordstorm
        <input id="check-nordstorm" type="checkbox"/>
        <div class="control__indicator"></div>
    </label>
    <label class="control control--checkbox">Uniqlo
        <input id="check-uniqlo" type="checkbox"/>
        <div class="control__indicator"></div>
    </label>
    <p class="section-head">Sort By</p>
    radio button: environmental score, see phone & slacks
    <p style="font:Times New Roman !important;letter-spacing: 0.01em;">FT</p>

</div>
<script>
$('#check-men').change(function() {
    if ($('#check-men').is(':checked')) {
        $('.card-men').show();
    } else {
        $('.card-men').hide();
    }
});
$('#check-women').change(function() {
    if ($('#check-women').is(':checked')) {
        $('.card-women').show();
    } else {
        $('.card-women').hide();
    }
});
$('#check-kids').change(function() {
    if ($('#check-kids').is(':checked')) {
        $('.card-kids').show();
    } else {
        $('.card-kids').hide();
    }
});
$('#check-hm').change(function() {
    if ($('#check-hm').is(':checked')) {
        $('.card-hm').show();
        if (!($('#check-uniqlo').is(':checked'))) {
            $('.card-uniqlo').hide();
        }
        if (!($('#check-nordstorm').is(':checked'))) {
            $('.card-nordstorm').hide();
        }
    } else {
        $('.card-hm').hide();
        if ( !($('#check-uniqlo').is(':checked')) && !($('#check-nordstorm').is(':checked'))) {
            $('.card-nordstorm').show();
            $('.card-hm').show();
            $('.card-uniqlo').show();
        }
    }
});
$('#check-nordstorm').change(function() {
    if ($('#check-nordstorm').is(':checked')) {
        $('.card-nordstorm').show();
        if (!($('#check-hm').is(':checked'))) {
            $('.card-hm').hide();
        }
        if (!($('#check-uniqlo').is(':checked'))) {
            $('.card-uniqlo').hide();
        }
    } else {
        $('.card-nordstorm').hide();
        if ( !($('#check-hm').is(':checked')) && !($('#check-uniqlo').is(':checked'))) {
            $('.card-nordstorm').show();
            $('.card-hm').show();
            $('.card-uniqlo').show();
        }
    }
});
$('#check-uniqlo').change(function() {
    if ($('#check-uniqlo').is(':checked')) {
        $('.card-uniqlo').show();
        if (!($('#check-hm').is(':checked'))) {
            $('.card-hm').hide();
        }
        if (!($('#check-nordstorm').is(':checked'))) {
            $('.card-nordstorm').hide();
        }
    } else {
        $('.card-uniqlo').hide();
        if ( !($('#check-hm').is(':checked')) && !($('#check-nordstorm').is(':checked'))) {
            $('.card-nordstorm').show();
            $('.card-hm').show();
            $('.card-uniqlo').show();
        }
    }
});
</script>

<article>
    <!--TODO: MODAL-->
    <% @products.take(50).each do |product| %>
        <div class="square <%= 'card-' + product.section.downcase %> <%= 'card-' + product.brand.downcase %>">
            <div class="content">
                <%= link_to product.link do %>
                    <%= image_tag(product.picture, class: "img-responsive") %>
                    <span><p>Shop now</p></span>
                <% end %>
                <p class="product-brand">
                    <% if product.brand == "hm" %>
                        h&m
                    <% else %>
                        <%= product.brand %>
                    <% end %>
                </p>
                <p><%= product.name %></p>
                <p id="price">$<%= product.price %></p>
                <% if product.score < 12.0 %>
                    <p class="good-score"><%= product.score %></p>
                <% elsif product.score < 100.0 %>
                    <p class="ok-score"><%= product.score  %></p>
                <% else %>
                    <p class="bad-score"><%= product.score %></p>
                <% end %>
            </div>
        </div>
    <% end %>
</article>

</div>

</body>
