<link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
<style>
.navbar-collapse {
    max-height: 54px !important;
    background: #fff;
}
</style>
<body>

<div class="container">

<br><br>
<div class="left">
    <p class="section-head">Category</p>
    <label class="control control--checkbox">Men
        <input id="check-men" type="checkbox"/>
        <div class="control__indicator"></div>
    </label>
    <label class="control control--checkbox">Women
        <input id="check-women" type="checkbox"/>
        <div class="control__indicator"></div>
    </label>
    <label class="control control--checkbox">Kids
        <input id="check-kids" type="checkbox"/>
        <div class="control__indicator"></div>
    </label>

    <p class="section-head section-price">Price</p>
    <center>
        <span class="price-input">$<input id="check-price-min" class="price-min" type="number" placeholder="Min"></span>
        <span class="price-input">$<input id="check-price-min" class="price-max" type="number" placeholder="Max"></span>
    </center>
<br>
    <p class="section-head">Brand</p>
    <label class="control control--checkbox">H&M
        <input id="check-hm" type="checkbox"/>
        <div class="control__indicator"></div>
    </label>
    <label class="control control--checkbox">Nordstorm
        <input id="check-nordstorm" type="checkbox"/>
        <div class="control__indicator"></div>
    </label>
    <label class="control control--checkbox">Uniqlo
        <input id="check-uniqlo" type="checkbox"/>
        <div class="control__indicator"></div>
    </label>
    <p class="section-head">Sort By</p>
    radio button: environmental score, see phone & slacks
</div>
<script>
$('#check-men').change(function() {
    if ($('#check-men').is(':checked')) {
        $('.card-men').show();
    } else {
        $('.card-men').hide();
    }
});
$('#check-women').change(function() {
    if ($('#check-women').is(':checked')) {
        $('.card-women').show();
    } else {
        $('.card-women').hide();
    }
});
$('#check-kids').change(function() {
    if ($('#check-kids').is(':checked')) {
        $('.card-kids').show();
    } else {
        $('.card-kids').hide();
    }
});
$('#check-hm').change(function() {
    if ($('#check-hm').is(':checked')) {
        $('.card-hm').show();
    } else {
        $('.card-hm').hide();
    }
});
$('#check-nordstorm').change(function() {
    if ($('#check-nordstorm').is(':checked')) {
        $('.card-nordstorm').show();
    } else {
        $('.card-nordstorm').hide();
    }
});
$('#check-uniqlo').change(function() {
    if ($('#check-uniqlo').is(':checked')) {
        $('.card-uniqlo').show();
    } else {
        $('.card-uniqlo').hide();
    }
});
</script>

<article>
    <!--TODO: MODAL-->
    </div>
    <% @products.take(50).each do |product| %>
        <div class="square <%= 'card-' + product.section.downcase %> <%= 'card-' + product.brand.downcase %>">
            <div class="content">
                <%= link_to product.link do %>
                    <%= image_tag(product.picture, class: "img-responsive") %>
                <% end %>
                <p class="product-brand"><%= product.brand %></p>
                <p><%= product.name %></p>
                <p id="price">$<%= product.price %></p>
                <% if product.score < 12.0 %>
                    <p class="good-score"><%= product.score %></p>
                <% elsif product.score < 100.0 %>
                    <p class="ok-score"><%= product.score  %></p>
                <% else %>
                    <p class="bad-score"><%= product.score %></p>
                <% end %>
            </div>
        </div>
    <% end %>
</article>

</div>

</body>
