<div class="content">
    <p id="notice"><%= notice %></p>

    <p>
        <strong><%= @product.name%></strong> <br>
        <%= image_tag("https://"  + @product.picture) %>
    </p>

    <p>
        This <%= @product.name.downcase %> has a price of <%= @product.price %> and a score of <%= @product.score %>, making it
        a
        <% if @product.score > 75 %>
            good deal
        <% elsif @product.score > 50 %>
            relatively good deal
        <% elsif @product.score > 25 %>
            relatively bad deal
        <% else %>
            bad deal
        <% end %>
    </p>


    <%= link_to "Buy", @product.link, class: "btn btn-default" %>

    <%= link_to 'Back', products_path %>
</div>
