<link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">

<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <% if current_page?(root_path) %>
                    <%= link_to "About", root_path(:anchor => "about") %>
                    <% else %>
                    <%= link_to "About", welcome_index_path(:anchor => "about") %>
                    <% end %>
                </li>
                <li>
                    <%= link_to "Clothes", products_path %>
                </li>
                <li>
                    <%= link_to "Electronics", devices_path %>
                </li>
            </ul>
            <div class="navbar-header">
                <h2><%= link_to "Fashion Tree", root_path, class: "navbar-brand" %></h2>

            </div>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <% unless current_user %>
                    <%= link_to "Register", new_user_registration_path %>
                </li>
                <li>
                    <%= link_to "Sign In", new_user_session_path %>
                    <% end %>
                </li>
            </ul>
        </div>
    </div>
</div>
